.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  color: #777;
  border: 0px solid #afafaf;
  width: 30%;
  margin-left: 35%;
  margin-top: 120px;
  text-align: center;
  padding: 40px;
  padding-top: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 8px #777;
  background: #FAF0E6;
}

.loginInput {
  color: #777;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

.login {
  background: #51AC74;
  font-size: 15px;
  border-radius: 5px;
  width: 80px;
}

.register {
  background: #5C8AE6;
  font-size: 15px;
  border-radius: 5px;
  width: 80px;
}

.lgInput {
  color: #777;
  font-weight: bold;
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
}

.homeBtn {
  font-size: 15px;
  background-color: #03BCDF;
  color: white;
}

.homeInput {
  font-size: 15px;
  height: 15px;
}

.homeHeader {
  padding-bottom: 10px;
}

li {
  list-style: none;
}

.itemBox {
  width: 300px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etsyBackground {
  border-top: 1px solid lightgrey;
  background-color: #FAF0E6;
}

.etsy {
  font-size: 25px;
  color: darkorange;
}

.infoBody {
  border-top: 1px solid lightgrey;
  background-color: #FAF0E6;
}

.productInfo {
  font-size: 25px;
  color: darkorange;
}

.shoppingBtn {
  font-size: 15px;
  background-color: #03BCDF;
  color: white;
  margin: 10px;
}

h3 {
  color: darkorange;
  font-size: 25px;
}

.wishList {
  color: darkorange;
  font-size: 25px;
}
